body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(images/back.jpg);
}
header img{
    max-width: 100%;
}
header h1{
    color: rgb(225, 211, 47);
    font-family:'Star Jedi', sans-serif;
    font-size: 70px;
    position: absolute;
    left:38%;
    bottom: 0px;
    top: 750px
}
main{
    margin: 10%;
}
.container {
    display: flex;
    justify-content: space-between;
}

.box {
    position: relative;
    width: 350px;
    height: 350px;
    border: 2px solid;
    border-radius: 10px;
    display: grid;
    flex-direction: column;
}
.box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box h1 {
    color: rgb(225, 211, 47);
    font-family:'Star Jedi', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 350px;
    left: 20%;
}
.box p{
    color: rgb(225, 211, 47);
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    top: 400px
}